
.cart{
    height: fit-content;
    background-color: rgb(250, 201, 250); 
    border-radius: 10px;
    margin-top: 10px;
   
    
}

.btn-choose1{
    border: 1px solid green;
    margin-right: 12px;
color:green;
margin-bottom: 20px;
}
.btn-choose2{
    border: 1px solid red;
    margin-left: 8px;
color:red;
margin-bottom: 20px;
}
.btn-choose1:hover{
    background-color: green;
    color:white;
    font-weight: bold;
    border:2px solid black;
}
.btn-choose2:hover{
    background-color: red;
    color:white;
    font-weight: bold;
    border:2px solid black;
}